.main {
    background-color: transparent;
    display: flex;
    background-color: antiquewhite;
}

.box-container {
    width: 100%;
	height: auto;
    overflow:hidden;
}

.left {
    width: 38%;
	height: 500px;
	display: inline-block;
}

.right{
    width: 62%;
	height: 500px;
	display: inline-block;
    position: absolute;
}

.right{
    background-color: transparent;
    text-align: center;
    background-color: transparent;
}
.left { background-color: transparent;}
.b-g{
    height: 100%;
    position: absolute;
    overflow: hidden;
    position: inherit;
    padding: 0 0 0 65% ;
}
.r-g{
    height: 100%;
    justify-content: flex-end;
    
}
.desc-container{
    width: 75%;
    margin: auto;
    margin-top: 5%;
}
