@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.navbar {
  display: none;
}
.logo-active{
  display: none;
}
nav {
  display: flex;
  padding: 0 2%;
  justify-content: center;
  height: 9vh;
 /* box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px; */
}

.nav-text{
  text-align: center;
}

li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
  transition: all 0.2s ease-in-out;

    color: #3b3b3b;
    padding: 10px 10px;
    border-radius: 100px;
}
.nav-text a:hover {
  background-color: #e9e9e9;
  transition: all 0.2s ease-in-out;
  color: #000;
}

.navbar img {
    height: 5vh;
    vertical-align: middle;
}
.nav-menu-items {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}
.navbar-toggle{
  display: none;
}
.nav-menu-items li {
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 6vh;
    
}
.instaImg a:hover{
  background-color: #e9e9e9;
  transition: all 0.2s ease-in-out;
  border-radius: 100px;
  color: #000;
}

@media (max-width: 1150px ) {
  .logo{
    display: none;
  }
  nav{
    padding: 0;
    width: 100%;
  }
  .logo-active {
    display: block;
    height: 75px;
    
  }  
  .navbar {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: flex-start;
  }
  .navbar svg{
    vertical-align: middle;
  }
  
  
  .menu-bars {
    font-size: 2rem;
    justify-content: center;
    background: none;
    color: #000;
  }
  
  .nav-menu {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 450ms ease-in-out;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 450ms ease-in-out;
  }
  .nav-menu.active  a{
    padding: 0;
    text-align: -webkit-center;

  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #151414;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #000000;
    color: #fff;
  }
  
  .nav-menu-items {
    width: 100%;
    display: block;
    padding: 0px;
  }
  
  .navbar-toggle {    
    background-color: #ffffff;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .instaImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  
  
}
span {
  margin-left: 16px;
}